Doctype html
html
    head
        title first-api
    body
        form(action="/new", method="post")
            input(type="text", placeholder="name", name="name")
            button(type="submit")
        ol
            each complaint in complaints
                li complaint

        script
            let form = document.querySelector('#mainForm')

            form.addEventListener('submit', function (e){
               e.PreventDefault(); 
            });